/* Navbar.css */

/* Light theme */
.light-theme {
    /* Add your light theme styles here */
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark theme */
  .dark-theme {
    /* Add your dark theme styles here */
    background-color: #333333;
    color: #ffffff;
  }
/* Navbar.css */

/* Light theme */
.light-theme {
    /* Add your light theme styles here */
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark theme */
  .dark-theme {
    /* Add your dark theme styles here */
    background-color: #333333;
    color: #ffffff;
  }
    